# ==========================================
# PostgreSQL Configuration
# ==========================================
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
# If running locally, use localhost:5433. If using Docker, use postgres:5432
DATABASE_URL=postgresql://<username>:<password>@localhost:5433/<dbname>

# ==========================================
# pgAdmin Configuration
# ==========================================
PGADMIN_EMAIL=your_admin_email@example.com
PGADMIN_PASSWORD=your_pgadmin_password

# ==========================================
# InfluxDB Configuration
# ==========================================
INFLUXDB_USER=your_influxdb_username
INFLUXDB_PASSWORD=your_influxdb_password
INFLUXDB_BUCKET=your_bucket_name
INFLUXDB_TOKEN=your_generated_token_here
INFLUXDB_ORG=your_organization_name
INFLUXDB_URL=http://localhost:8086

# ==========================================
# Image Storage Paths (Computer Vision)
# ==========================================
PROJECT_BASE_PATH=/app/
CONFIRMED_DATASET_PATH=confirmed_dataset

# ==========================================
# MQTT Configuration
# ==========================================
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=factory/sensors